
.wow{

  border: #F7941E 2px solid; 

  padding:1px; 
  width: 10%;
  padding: 0%;
  font-size:1.5rem ;



}
.wow a{




}
.rounded{
/*   
  border: 3px solid #1C75BC !important; */

}



.ok{
  margin-top: 5rem;
}

.Main .content {
background-image: url("/images/bg1.jpg");
background-size: 100% 100%;
background-repeat:no-repeat ;
}
.Main{
  text-align: center;
}
.Main .content button{
  height: 3rem;
  width: 10%;
  border-radius: 5px;
  

}
.Main .content button:active{
background: #000;
}
.Main .content h1{
  padding-top: 17%;
}
.Main .content button{
  margin-bottom: 4%;
  margin-top: 1.5rem;
 
}
.text{
  color: rgb(243, 128, 3);
  
}
.text2{
  display: flex;
}
.re{
  background-image: url("/images/147847517.jpg");
  background-size: cover;

 
  max-width: 100%;
  
}
.Let{
  color: rgb(243, 128, 3);
}
.call{
  color: rgb(243, 128, 3);
}

.a{
  padding-bottom: 17rem;
}

.wow:hover{
  transition: all 0.8s;
color: #F7941E !important;
background-color: #1C75BC;

}





/* ===========================> Responsive  */
@media screen and (width< 436.98px) { 
  button {
   
   
    
    
  }
  .wow{

    border: #F7941E 2px solid; 
  
    padding:1px; 
    width: 10%;
    padding: 0%;
    font-size:1.5rem ;
  
  
  
  }


  .Main .content button h4{
  font-size:3px;
  color:#F7941E ;
  
  }

}
@media (max-width: 440.98px) { 
  button {
    
   
    
    
  }
  .Main .content button h4{
  font-size:15px;
  color:#F7941E ;
    
  
  }
}
@media (max-width: 450.98px) { 
  button h4{

   
    
    
  }
  .Main .content button h4{
    font-size:7px;
    color:#F7941E ;
      
    
    }
}
@media (max-width: 460.98px) { 
  button {
   
    
    
  }
  .Main .content button h4{
  font-size:15px;
  color:#F7941E ;
    
  
  }
}

@media (max-width: 470.98px) { 
  button h4{
    font-style: italic;
    
  }
}

@media (max-width: 480.98px) { 
button h4{
  font-style: italic;
}


} 
@media (max-width: 490.98px) { 
  button h4{
    font-style: italic;
    
  }

  .text2{
    display: block;
  }
  
  } 
  @media (max-width: 550.98px) { 
    button h4{
      font-size: small;
    }
    .text2{
      display: block;
    }
    
    }
    @media (max-width: 570.98px) { 
      button h4{
        font-size: small;
      }
      .text2{
        display: block;
      }
      
      } 
  



@media (max-width: 575.98px) { 
  .Main .content button{
    height: 3rem;
    width: 35%;
    border-radius: 4px;
  
  }


} 
@media (max-width: 625.98px){
  button h4{
    font-size: 1rem;
  }


}
@media (max-width: 767.98px) { 
  .Main .content button{
    height: 3rem;
    width: 35%;
    border-radius: 4px;
  
  }
 }
 @media (max-width: 991.98px) {
  .Main .content button{
    height: 3rem;
    width: 30%;
    border-radius: 4px;
  
  }
   }

   @media (max-width: 1199.98px) { 
    .Main .content button{
      height: 3rem;
      width: 25%;
      border-radius: 4px;
    
    }


   }

   @media (max-width: 1399.98px) { 

    .Main .content button{
      height: 3rem;
      width: 25%;
      border-radius: 4px;
    
    }

    }


    /* ===>  Carasol advertising*/
    @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



.section-168 {
  height: 30vh;
  background-color: #c9c9c9;
  display: grid;
  place-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.slider-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(-20%);
  }
}

.slider-items img {
  width: 12%;
  margin: 20px;
}



.about-sec-inner-btn {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 15px 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 10px;
  background-color: #F7941E;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.55s;
  text-decoration: none;
}
.about-sec-inner-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: #1C75BC;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.about-sec-inner-btn:hover:before, .about-sec-inner-btn:focus:before, .about-sec-inner-btn:active::before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

