*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 200vh;
}
.line{
  background-color:#1C75BC;
  width: 100px;
  height: 3px;
  margin: 0 auto;
}
.box{
  background-color: #c9cdd147;
  height: 500px;
  width: 100%;
}
.box .container .box-img{
  width: 50%;
  height: 90%;
}
.box .container .box-img img{
  width: 70%;
  height: 100%;
}
.box .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .container .box-sub{
  margin: 30px auto;
  width: 50%;
}
.box .container .box-sub h1 span{
  color: #F7941E;
}
.box .container .box-sub h5 span{
  color: #1C75BC;
}
.box .container .box-sub button{
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px auto;
  background: none;
  font-size: 15px;
  font-weight: 500;
}
.box .container .box-sub button:hover{
  color: white;
  background-color: #1C75BC;
}
.container h1 span:first-child{
  color: #1C75BC;
}
.container h1 span:last-child{
  color: #F7941E;
}
.box1{
  margin: 30px auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* border: 1px solid rgba(132, 128, 128, 0.429); */
}
.box1 .box1-sub{
  width: 50%;
}
.box1 .box1-sub p{
  width: 90%;
  margin: 0px auto;
}
.box1 .box1-img{
  width: 50%;
}
.box1 .box1-img img{
  width: 100%;
  height: 100%;
}
.box1 .box1-line{
  width: 3px;
  background-color: #F7941E;
  height: 150px;
  margin-top: 40px;
}
#box1-1{
  background-color: rgba(111, 109, 111, 0.066);
}
.box1 .container{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.box1 .container .box1-sub{
  margin: 60px 0px;
}
.box1 .container .box1-line{
  margin:auto 0px;
}
.box1 .container .box1-sub p{
  width: 90%;
}
.box2 .container h1 span:first-child{
   color: #F7941E;
}
.box2 .container h1 span:last-child{
  color: #1C75BC;
}
.box-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-3 .box3-line{
  width: 3px;
  background-color: #1C75BC;
  height: 250px;
  margin-top: 10px;
  margin: 50px;
}
.box-3 .box3-img h6{
  margin-top: -30px;
}
.box-3 .box3-img{
  width: 50%;
}
.box-3 .box3-img img{
  width: 100%;
}
.box-3  .box3-sub{
  width: 50%;
  margin-top: 80px;
}
.box-4 .container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}
.box-4{
  background-color:rgba(111, 109, 111, 0.066);
  height: fit-content;
}
#box-4-1{
  background: none;
}
.box-4 .container .box4-sub{
  margin-top: 80px;
  width: 50%;
}
.box-4 .container .box4-line{
  width: 3px;
  background-color: #F7941E;
  height: 250px;
  margin-top: 10px;
  margin: 50px;
}
.box-4 .container .box4-img{
  width: 50%;
  margin: 0px auto;
}
.box-4 .container .box4-img img{
  width: 100%;
}
.box-4 .container .box4-img h6{
 text-align: center;
 margin-top: -30px;
}
.box-5 .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-5  h1 span:first-child{
  color: #1C75BC;
}
.box-5  h1 span:last-child{
  color: #F7941E;
}
.box-5 .container .box5-img{
  width: 50%;
}
.box-5 .container .box5-img img{
  width: 80%;
}
/* ==================Responsive================== */
    @media screen and (width<1000px){
      .box .container .box-img{
        width: 80%;
        height: 90%;
      }
      .box .container .box-img img{
        width: 80%;
        height: 100%;
      }
      .box .container .box-sub{
        margin: 30px auto;
        width: 50%;
      }
      .box .container .box-sub h1{
        font-size: 25px;
      }
      .box .container .box-sub h5{
        font-size: 20px;
      }
      .box .container .box-sub button{
        padding: 10px 15px;
        border-radius: 20px;
        margin: 10px auto;
        font-size: 15px;
        font-weight: 500;
      }
      .box1{
        margin: 30px auto;
        display: flex;
        justify-content:space-between;
        align-items: center;
      }
      .box1 .box1-sub{
        width: 50%;
        margin: 0px 10px;
      }
      .box1 .box1-sub p{
        width: 100%;
        margin: 0px auto;
      }
      .box1 .box1-img{
        width: 50%;
      }
      .box1 .box1-img img{
        width: 100%;
        object-fit: cover;
        height: 390px;
      }
      .box1 .box1-line{
        width: 3px;
        background-color: #F7941E;
        height: 250px;
        margin-bottom: 50px;
      }
      .box-3 .box3-line{
        width: 3px;
        background-color: #1C75BC;
        height: 350px;
        margin-top: 10px;
        margin: 20px;
      }
      .box-3 .box3-img h6{
        margin-top: -50px;
      }
      .box-3 .box3-img{
        width: 50%;
      }
      .box-3 .box3-img img{
        width: 100%;
        height: 390px;
        object-fit: cover;
      }
      .box-3  .box3-sub{
        width: 50%;
        margin-top: 80px;
      }
      .box-4 .container .box4-sub{
        margin-top: 80px;
        width: 50%;
      }
      .box-4 .container .box4-line{
        width: 3px;
        background-color: #F7941E;
        height: 350px;
        margin-top: 10px;
        margin: 20px;
      }
      .box-4 .container .box4-img{
        width: 50%;
        margin: 0px auto;
      }
      .box-4 .container .box4-img img{
        width: 100%;
        object-fit: cover;
        height: 390px;
      }
      .box-4 .container .box4-img h6{
       text-align: center;
       margin-top: -30px;
      }
      .box-5 .container{
        display: flex;
        align-items: center;
      }
      .box-5 .container .box5-img{
        width: 50%;
      }
      .box-5 .container .box5-img img{
        width: 100%;
        object-fit: cover;
        height: 350px;
      }
    
    }
    @media screen and (Width<800px){
        .box{
          height: 350px;
        }
        .box .container .box-img img{
          width: 80%;
          height: 100%;
        }
        .box .container .box-sub{
          margin: 30px auto;
          width: 60%;
        }
        .box .container .box-sub h1{
          font-size: 23px;
        }
        .box .container .box-sub h5{
          font-size: 20px;
        }
        .box .container .box-sub button{
          padding: 10px 15px;
          border-radius: 20px;
          margin: 10px auto;
          font-size: 12px;
          font-weight: 300;
        }
        .container{
          margin-top: 10px;
        }
        .box1{
          margin:0px;
          display: block;
          justify-content:space-between;
          align-items: center;
          position: relative;
        }
        .box1 .box1-sub{
          width: 100%;
        }
        .box1 .box1-sub p{
          width: 100%;
          margin: 0px 10px;
        }
        .box1 .box1-img{
          width: 100%;
        }
        .box1 .box1-img img{
          width: 100%;
          height: 100%;
        }
        .box1 .box1-line{
          width: 2px;
          background-color: #F7941E;
          height: 150px;
        position: absolute;
        bottom: -30px;
        }
        #box1-1{
          display: none;
        }
        #box1-2{
          display: block;
          background-color: rgba(111, 109, 111, 0.066);
        }
        #box1-1{
          background-color: rgba(111, 109, 111, 0.066);
        }
        .box1 .container{
          display: block;
          text-align: center;
          justify-content: space-between;
          position: relative;
        }
        .box1 .container .box1-sub{
          margin: 0px;
        }
        .box1 .container .box1-line{
        position: absolute;
        bottom: 30px;
        }
        .box1 .container .box1-sub p{
          width: 90%;
        }
        .box2{
          margin-top: 20px;
        }
        .box2 .container h1 span:first-child{
          color: #F7941E;
        }
        .box2 .container h1 span:last-child{
          color: #1C75BC;
        }
        .box-3{
          display: block;
          justify-content:space-between;
          align-items: center;
          position: relative;
        }
        .box-3 .box3-line{
          width: 3px;
          background-color: #1C75BC;
          height: 300px;
          margin:0px;
          position: absolute;
          bottom: 20px;

        }
        .box-3 .box3-img h6{
          margin-top: -30px;
        }
        .box-3 .box3-img{
          width: 100%;
        }
        .box-3 .box3-img img{
          width: 100%;
        }
        .box-3  .box3-sub{
          width: 100%;
          margin:40px;
          text-align: center;
        }

        .box-4 .container{
          display: block;
          justify-content:center;
          align-items: center;
          
        }
        #box-4-1{
          display: block;
          position: relative;
        }
        .box-4{
          background-color:rgba(111, 109, 111, 0.066);
          display: none;
        }
        .box-4 .container .box4-sub{
          margin: 40px;
          width: 100%;
        }
        .box-4 .container .box4-line{
          width: 3px;
          background-color: #F7941E;
          height: 300px;
          margin:0px;
          bottom: 40px;
          position: absolute;
        }
        .box-4 .container .box4-img{
          width: 100%;
          margin: 0px auto;
        }
        .box-4 .container .box4-img img{
          width: 100%;
        }
        .box-4 .container .box4-img h6{
        text-align: center;
        margin-top: -30px;
        }
        .box-5 .container{
          display: block;
          align-items: center;
          justify-content: center;
        }
        .box-5  h1 span:first-child{
          color: #1C75BC;
        }
        .box-5  h1 span:last-child{
          color: #F7941E;
        }
        .box-5 .container .box5-img{
          margin-top: 30px;
          width: 100%;
        }
        .box-5 .container .box5-img img{
          width: 100%;
        }
    }
    @media screen and (width<750px){
      .box{
        height: 300px;
      }
      .box .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .box .container .box-img{
        width: 70%;
        height: 90%;
      }
      .box .container .box-img img{
        width: 80%;
        height: 100%;
      }
      .box .container .box-sub{
        margin: 30px auto;
        width: 50%;
      }
      .box .container .box-sub h1{
        font-size: 20px;
      }
      .box .container .box-sub h5{
        font-size: 17px;
      }
      .box .container .box-sub button{
        padding: 10px 10px;
        margin: 10px auto;
        font-size: 10px;
        font-weight: 300;
      }
      .container h1{
        font-size:25px;
      }
    }
    @media screen and (width<600px){
      .box1 .box1-sub{
        width: 100%;
      }
      .box1 .box1-sub p{
        width: 90%;
        margin: 0px auto;
      }
      .box1 .box1-img{
        width: 100%;
      }
      .box1 .box1-img img{
        width: 100%;
        height: 100%;
      }
      .box1 .box1-line{
       display: none;
      }
      #box1-1{
        display: none;
      }
      #box1-2{
        display: block;
        background-color: rgba(111, 109, 111, 0.066);
        height: 500px;
      }
      .box1 .container{
        display: block;
        text-align: center;
        justify-content: space-between;
        position: relative;
      }
      .box1 .container .box1-sub{
        width: 100%;
        margin: 0px;
      }
      .box1 .container .box1-line{
       display: none;
      }
      .box1 .container .box1-sub p{
        width: 90%;
      }
      .box2{
        margin-top: 20px;
      }
      .box2 .container h1 span:first-child{
        color: #F7941E;
      }
      .box2 .container h1 span:last-child{
        color: #1C75BC;
      }
      .box-3{
        display: block;
        justify-content:space-between;
        align-items: center;
        position: relative;
      }
      .box-3 .box3-line{
        display: none;
      }
      .box-3 .box3-img h6{
        margin-top: -50px;
      }
      .box-3 .box3-img{
        width: 100%;
      }
      .box-3 .box3-img img{
        width: 100%;
      }
      .box-3  .box3-sub{
        width: 90%;
        margin:40px;
        text-align: center;
      }

      .box-4 .container{
        display: block;
        justify-content:center;
        align-items: center;
        
      }
      #box-4-1{
        display: block;
        position: relative;
        height: 780px;
      }
      .box-4{
        background-color:rgba(111, 109, 111, 0.066);
        display: none;
      }
      .box-4 .container .box4-sub{
        margin: 40px;
        width: 90%;
      }
      .box-4 .container .box4-line{
       display: none;
      }
      .box-4 .container .box4-img{
        width: 100%;
        margin: 0px auto;
      }
      .box-4 .container .box4-img img{
        width: 100%;
      }
      .box-4 .container .box4-img h6{
      text-align: center;
      margin-top: -30px;
      }
      .box-5 .container{
        display: block;
        align-items: center;
        justify-content: center;
      }
      .box-5  h1 span:first-child{
        color: #1C75BC;
      }
      .box-5  h1 span:last-child{
        color: #F7941E;
      }
      .box-5 .container .box5-img{
        margin-top: 30px;
        width: 100%;
      }
      .box-5 .container .box5-img img{
        width: 100%;
      }
    }
    @media screen and (width<500px){
      .box{
        height: 300px;
      }
      .box .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .box .container .box-img{
        width: 70%;
        height: 90%;
      }
      .box .container .box-img img{
        width: 80%;
        height: 100%;
      }
      .box .container .box-sub{
        margin: 30px auto;
        width: 50%;
      }
      .box .container .box-sub h1{
        font-size: 19px;
      }
      .box .container .box-sub h5{
        font-size: 14px;
      }
      .box .container .box-sub button{
        padding: 8px;
        margin: 10px auto;
        font-size: 10px;
        font-weight: 100;
      }
      .container h1{
        font-size:20px;
      }
    }
    @media screen and (width<400px){
      .box{
        height: 230px;
      }
      .box .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .box .container .box-img{
        width: 80%;
        height: 90%;
      }
      .box .container .box-img img{
        width: 90%;
        height: 100%;
      }
      .box .container .box-sub{
        margin: 30px auto;
        width: 50%;
      }
      .box .container .box-sub h1{
        font-size: 15px;
      }
      .box .container .box-sub h5{
        font-size: 10px;
      }
      .box .container .box-sub button{
        padding: 5px;
        margin: 10px auto;
        font-size: 8px;
        font-weight: 100;
      }
      .container h1{
        font-size:18px;
      }
      #box-4-1{
        height: 850px;
      }
    }
    @media screen and (width<330px){
      .box{
        height: 200px;
      }
      .box .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .box .container .box-img{
        width: 70%;
        height: 90%;
      }
      .box .container .box-img img{
        width: 80%;
        height: 100%;
      }
      .box .container .box-sub{
        margin: 30px auto;
        width: 50%;
      }
      .box .container .box-sub h1{
        font-size: 13px;
      }
      .box .container .box-sub h5{
        font-size: 8px;
      }
      .box .container .box-sub button{
        padding: 5px;
        margin: 5px auto;
        font-size: 6px;
        font-weight: 300;
        border: 1px solid black;
      }
      .container h1{
        font-size:16px;
      }
      #box-4-1{
        height: 900px;
      }
    }