*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1{
  background-image: url(/images/marquee-advance.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
}
.box1-sub{
  padding: 125px 50px;
  width: 100%;
  margin: auto;
}
.box1-sub h1,p{
  color: white;
  font-weight: bolder;
}
.box1-sub  h1 span{
  color: #F7941E;
}
.box1-sub  p span{
  color: #1C75BC;
}
.box1-sub  button{
  padding:10px 20px;
  background-color: rgba(48, 44, 44, 0.77);
  border: 1px solid gray;
  color: #F7941E;
  /* background: none; */
  border-radius: 10px;
}
.box1-sub button:hover{
  background-color: #F7941E;
  color: white;
}
.container .box2{
  text-align: center;
}
.container h2 span{
  color: #F7941E;
}
.container .row .col{
  border: 1px solid gainsboro;
  height: 300px;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
  margin: 0px 10px;
}
.col:hover{
  transform: translateY(-30px);
  box-shadow: 0px 0px 1px #1C75BC;
}
.col .icon{
  margin: 10px auto;
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 50%;
}
.col .icon i{
  font-size: 30px;
  margin: 10px;
}
.col p{
  color: gray;
}
.container .btn-1 button{
  padding: 15px 35px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #1C75BC;
  color: whitesmoke;
  border: none;
  font-size: 18px;
}
.container .btn-1 button:hover{
   color: #1C75BC;
   background: none;
   border: 1px solid black;
}
.line{
  background-color:#1C75BC;
  width: 100px;
  height: 3px;
  margin: 0 auto;
}
.container .box3-sub p{
  color: rgba(129, 128, 128, 0.91);
}
.container h3 span{
  color: #F7941E;
  text-transform: uppercase;
}
.container h3 span:nth-child(2){
  color: #1C75BC;
  text-transform: uppercase;
}
.container .col p{
  color: gray;
}
.text-cent button{
  display: none;
  padding: 15px 30px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #1C75BC;
  color: whitesmoke;
  border: none;
}
.text-cent button:hover{
  color: #1C75BC;
   background: none;
   border: 1px solid black;
}

@media screen and (width<1200px){
  .container .row .col p{
    width: 100%;
    font-size: 14px;
  }
}
@media screen and (width<1000px){
 .container .row{
  display:block;
  align-items: center;
  justify-content: center;
 }
 .container .row .col{
  margin: 30px auto !important;
 }
 .text-cent button{
    display: block;
 }
 .container .btn-1 button{
  display: none;
 }
.container .box3-img img{
  width: 80%;
}
}
@media screen and (width<800px){
  .container .row .col{
   margin: 30px auto !important;
  }
  .text-cent button{
     display: block;
  }
  .container .btn-1 button{
   display: none;
  }
  .box1-sub  h1{
    font-size: 24px;
  }
  .box1-sub  button{
    font-size: 14px;
  }
  .container .box3-img img{
    width: 80%;
  }
 }
 @media screen and (width<700px){
  .container .row .col{
   margin: 30px auto !important;
  }
  .text-cent button{
     display: block;
     font-size: 13px;
  }
  .container .btn-1 button{
   display: none;
  }
  .box1-sub  h1{
    font-size: 21px;
  }
  .box1-sub  p{
    font-size: 12px;
  }
  .box1-sub  button{
    font-size: 12px;
  }
  .container .box3-img img{
    width: 50%;
  }
  .container h3{
    font-size: 21px;
  }
  .container .box3-sub p{
    font-size: 12px;
  }
  .line{
    background-color:#1C75BC;
    width: 60px;
    height: 3px;
    margin: 0 auto;
  }
  .container .box2 h2{
    font-size: 21px;
  }

 }
 @media screen and (width<600px){
  .container .row .col{
    width: 80%;
   }
   .container .row .col p{
    font-size: 12px;
   }
  .container .btn-1 button{
    display: none;
    font-size: 12px;
   }
   .box1-sub  h1{
     font-size: 20px;
   }
   .box1-sub  p{
     font-size: 12px;
   }
   .box1-sub  button{
     font-size: 12px;
   }
   .container .box3-img img{
     width: 50%;
   }
   .container h3{
     font-size: 21px;
   }
   .container .box3-sub p{
     font-size: 12px;
   }
   .line{
     background-color:#1C75BC;
     width: 60px;
     height: 3px;
     margin: 0 auto;
   }
   .container .box2 h2{
     font-size: 21px;
   }
 }
 @media screen and (width<500px){
  .container .row .col{
    width: 80%;
   }
   .container .row .col p{
    font-size: 12px;
   }
  .container .btn-1 button{
    display: none;
    font-size: 12px;
   }
   .box1-sub  h1{
     font-size: 15px;
   }
   .box1-sub  p{
     font-size: 10px;
   }
   .box1-sub  button{
     font-size: 10px;
   }
   .container .box3-img img{
     width: 40%;
   }
   .container h3{
     font-size: 15px;
   }
   .container .box3-sub p{
     font-size: 10px;
   }
   .line{
     background-color:#1C75BC;
     width: 60px;
     height: 3px;
     margin: 0 auto;
   }
   .container .box2 h2{
     font-size: 15px;
   }
   .box3-img h5{
    font-size: 15px;
   }
   .text-cent button{
    font-size: 10px;
   }
   .col .icon{
    margin: 10px auto;
    width: 40px;
    height: 40px;
  }
  .col .icon i{
    font-size: 20px;
    margin: 7px;
  }
  .container .row .col p{
    color: gray;
    font-size: 10px;
  }
  .container .row .col {
    height: fit-content;
  }
 }