body{
  padding:0;
  margin:0;
}

.banner{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/image1/478654024.jpg);
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  background-position:center;
  color:white;
}
.title{
  font-size:40px;
}
.font0{
  color:#F7941E;
}
.font1{
  color:#1C75BC;
}
.font2{
  color:black;
  text-decoration:none;
  cursor:pointer;
}
.font2:hover{
 color:#1C75BC;
 cursor:pointer;
 padding:10px 10px;
}






.texts{
 font-size:19px;
}

@media screen and (width:320px){
  .title{
    font-size:21px;
  }
  .texts{
    font-size:16px;
  }
}
@media screen and (width:768px){
  .title{
    font-size:20px;
  }
  .texts{
    font-size:16px;
  }
}
@media screen and (width:1024px){
  .title{
    font-size:26px;
  }
  .texts{
    font-size:18px;
  }
}
@media screen and (width:1440px){
  .title{
    font-size:30px;
  }
  .texts{
    font-size:22px;
  }
}

