@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,body{
  width:100%;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
element.style {
  background-image: url(/images/1532832220.jpg);
}
.single-page-title-area {
  padding: 100px 0;
  margin-top: -1px;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
}

user agent stylesheet section {
  display: block;
  unicode-bidi: isolate;
}
.auto-container {
  position: static;
  max-width: 1400px;
  padding: 0px 15px;
  height: auto;
  margin: 0 auto;
  flex-wrap: wrap;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #777777;
  line-height: 1.9em;
  font-weight: 400;
  margin: auto;
  background: #fff;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.single-page-title h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
}

.single-page-title h2 {
  color: #f7941e;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
}
.single-page-title h1 {
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}
span .btn-call {
  top: 20%;
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 30px;
  border: 2px solid white;
  border-radius: 4px;
  background: none;
  color: white;
  text-transform: uppercase;

  transition: all 0.3s ease;
  margin: 5px 5px;
  text-align: center;
}

.btn-call:hover {
  background-color: #fff;
  color: #000;
  transform: scaleX(1.04);
}
.single-page-title-area .breadcrumb {
  background-color: transparent;
  margin: 20px 0 0;
  position: absolute;
  right: 5px;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;
}
/* .btn-banner {
    position: absolute;
    left: 100% !important;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 520;
}

.btn-banner:hover {
  color: rgb(0, 0, 0);
  background-color: white;
} */
.btn-call {
    text-align: center;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    border-radius: 4px;
    background: none;
    color: white;
    text-transform: uppercase;
  
    transition: all 0.3s ease;
    margin: 5px 5px;
  }
  
  .btn-call:hover {
    background-color: #fff;
    color: #000;
    transform: scaleX(1.04);
  }



.single-page-title span {
  position: relative;
  background-color: #fff;
  height: 2px;
  width: 55%;
  display: inline-block;
}

.single-page-title-area:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: #000;
  opacity: 0.6;
  z-index: -1;
}
.auto-container .row2 .caption {
  width: 400px;
  height: auto;
  text-align: center;
  line-height: 10px;
  /* border: 2px solid; */
}
.auto-container .row2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btu-esi {
  text-align: center;
  width: 200px;
  height: 50px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  background: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  transition: all 0.3s ease;
  margin: 5px 5px;
}
.btn-esi:hover {
  background-color: #ff0000;
  color: #ff0000;
  transform: scaleX(1.04);
}
@media (max-width: 1200px) {
  .single-page-title h1 {
    font-size: 40px;
  }
  .single-page-title h2 {
    font-size: 40px;
  }
  .single-page-title h3 {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .single-page-title h1 {
    font-size: 30px;
  }
  .single-page-title h2 {
    font-size: 20px;
  }
  .single-page-title h3 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .single-page-title h1 {
    font-size: 30px;
  }
  .single-page-title h2 {
    font-size: 20px;
  }
  .single-page-title h3 {
    font-size: 30px;
  }
}






.font0{
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
}
.font1{
  color:#FA7F08;

}
.business-phones,
.data,
.cctv{
   background-color: none;
   color: gray;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 10px 20px;
   border:2px solid;
}
.business-phones:hover{
  background-color:rgb(0, 0, 0);
  color:#ffffff;
  outline:none;
  border:2px solid;
  transform: scale(1.1);
  transition: 0.7s;

}
.data:hover{
  background-color:rgb(0, 0, 0);
  color:#ffffff;
  outline:none;
  border:2px solid;
  transform: scale(1.1);
  transition: 0.7s;
}
.cctv:hover{
  background-color:rgb(0, 0, 0);
  color:#ffffff;
  outline:none;
  border:2px solid;
  transform: scale(1.1);
  transition: 0.7s;
}


/* Thumbnail Image Styles */
.thumbnail {
  width: 200px;
  cursor: pointer;
}

/* Popup Modal Styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Popup Content Styles */
.popup-content {
  
  display:block;
  justify-content: center;
  margin: auto;
  display: block;
  max-width: 50%;
  max-height: 80%;
  align-items:center;
  margin-top:150px;
}

/* Caption Styles */
.caption {
  text-align: center;
  color: #fff;
  padding: 10px 0;
}

/* Close Button Styles */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
